<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
		<!-- Container wrapper -->
		<div class="container-fluid">
			<!-- Toggle button -->
			<button data-mdb-collapse-init class="navbar-toggler" type="button"
				data-mdb-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>

			<!-- Collapsible wrapper -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- Navbar brand -->
				<a class="navbar-brand mt-2 mt-lg-0" href="#"> <img
					src="https://i.pinimg.com/736x/a8/85/5c/a8855ca6b860fecaaa80aee799b9e416.jpg"
					height="15" alt="MDB Logo" loading="lazy" />
				</a>
				<!-- Left links -->
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="#">Dashboard</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Team</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Projects</a>
					</li>
				</ul>
				<!-- Left links -->
			</div>
			<!-- Collapsible wrapper -->

			<!-- Right elements -->
			<div class="d-flex align-items-center">
				<!-- Icon -->
				<a class="text-reset me-3" href="#"> <i
					class="fas fa-shopping-cart"></i>
				</a>

				<!-- Notifications -->
				<div class="dropdown">
					<a data-mdb-dropdown-init
						class="text-reset me-3 dropdown-toggle hidden-arrow" href="#"
						id="navbarDropdownMenuLink" role="button" aria-expanded="false">
						<i class="fas fa-bell"></i> <span
						class="badge rounded-pill badge-notification bg-danger">1</span>
					</a>
					<ul class="dropdown-menu dropdown-menu-end"
						aria-labelledby="navbarDropdownMenuLink">
						<li><a class="dropdown-item" href="#">Some news</a></li>
						<li><a class="dropdown-item" href="#">Another news</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a>
						</li>
					</ul>
				</div>
				<!-- Avatar -->
				<div class="dropdown">
					<a data-mdb-dropdown-init
						class="dropdown-toggle d-flex align-items-center hidden-arrow"
						href="#" id="navbarDropdownMenuAvatar" role="button"
						aria-expanded="false"> <img
						src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
						class="rounded-circle" height="25"
						alt="Black and White Portrait of a Man" loading="lazy" />
					</a>
					<ul class="dropdown-menu dropdown-menu-end"
						aria-labelledby="navbarDropdownMenuAvatar">
						<li><a class="dropdown-item" href="#">My profile</a></li>
						<li><a class="dropdown-item" href="#">Settings</a></li>
						<li><a class="dropdown-item" href="#">Logout</a></li>
					</ul>
				</div>
			</div>
			<!-- Right elements -->
		</div>
		<!-- Container wrapper -->
	</nav>
	<!-- Navbar -->
	<!-- Search Box -->
	<div class="container p-4">
		<div class="input-group container">
			<div class="form-outline" data-mdb-input-init>
				<input type="search" id="form1" class="form-control" /> <label
					class="form-label " for="form1">Search</label>
			</div>
			<button type="button" class="btn btn-success opacity-50"
				data-mdb-ripple-init>
				<i class="fas fa-search"></i>
			</button>
		</div>
	</div>
	<!-- Search Box end-->

	<div class="container-fluid mb-4">
		<div class="row">
			<!-- Category -->
			<div
				class="col-2 bg-success p-2 text-white bg-opacity-10  rounded-2 mx-2">
				<div
					class="bg-success  text-white text-center bg-opacity-75 rounded-3">
					<h2>Category</h2>
				</div>
				<div class="list-group rounded-0 ">
					<a href="#" class="list-group-item list-group-item-action ">Cras
						justo odio </a> <a href="#"
						class="list-group-item list-group-item-action">Dapibus
						acfacilisis in</a> <a href="#"
						class="list-group-item list-group-item-action">Dapibus
						acfacilisis in</a> <a href="#"
						class="list-group-item list-group-item-action">Dapibus
						acfacilisis in</a> <a href="#"
						class="list-group-item list-group-item-action">Dapibus
						acfacilisis in</a> <a href="#"
						class="list-group-item list-group-item-action">Dapibus
						acfacilisis in</a> <a href="#"
						class="list-group-item list-group-item-action">Dapibus
						acfacilisis in</a>

				</div>
			</div>
			<!-- Category End -->

			<!-- ProductsList -->
			<div class="col-9">

				<div class="row">
					<div class="col-md-4">
						<div class="card">
							<img
								src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
								class="card-img-top" alt="Fissure in Sandstone" />
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">Some quick example text to build on the
									card title and make up the bulk of the card's content.</p>
								<a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button <i class="fas fa-eye"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<img
								src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
								class="card-img-top" alt="Fissure in Sandstone" />
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">Some quick example text to build on the
									card title and make up the bulk of the card's content.</p>
								<a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button <i class="fas fa-eye"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<img
								src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp"
								class="card-img-top" alt="Fissure in Sandstone" />
							<div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">Some quick example text to build on the
									card title and make up the bulk of the card's content.</p>
								<a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button <i class="fas fa-eye"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ProductsList End -->
		</div>
	</div>

</body>
</html>