<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::layout(~{::body})}"
>
  <head>
    <meta charset="UTF-8" />
    <title>All Products</title>
  </head>
  <body>
    <!-- Search Box -->
    <div class="container col-6 p-4 d-flex">
      <div class="input-group container">
        <div class="form-outline" data-mdb-input-init>
          <input type="search" id="form1" class="form-control" />
          <label class="form-label" for="form1">Search</label>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-success opacity-50"
        data-mdb-ripple-init
      >
        <i class="fas fa-search"></i>
      </button>
    </div>

    <!-- Search Box end-->

   <div class="container"> <div class="container-fluid mb-4">
      <div class="row">
        <!-- Category -->
        <div
          class="col-2 bg-success p-2 text-white bg-opacity-10 rounded-2 mx-2"
        >
          <div
            class="bg-success text-white text-center bg-opacity-75 rounded-3"
          >
            <h2>Category</h2>
          </div>
          <div class="list-group rounded-0">
            <a
              href="/products"
              class="list-group-item list-group-item-action"
              th:classappend="${paramValue==''}?'active bg-success':''"
              >All</a
            >
            <a
              th:each="c:${categories}"
              th:href="@{'/products?category='+${c.name}}"
              class="list-group-item list-group-item-action"
              th:classappend="${paramValue==c.name}?'active bg-success':''"
              >[[${c.name}]]</a
            >
          </div>
        </div>
        <!-- Category End -->

        <!-- ProductsList -->
        <div class="col-9">
          <div class="row">
            <div class="col-md-4 mb-2 " th:each=" prod: ${products}">
              <div class="card ">
                <img 
                loading="lazy"
                  th:src="@{'/uploads/img/product_img/'+${prod.imageName}}"
                  style="width: 200px; height: 200px"
                  class="rounded  "
                />
                <div class="card-body">
                  <h5 class="card-title">[[${prod.title}]]</h5>
                  <span class="text-success bg-success bg-opacity-10 rounded"
                    ><b class="fs-5">₹ [[${prod.discountedPrice}]]</b></span
                  >
                  <span class="text-secondary">
                    <s>₹ [[${prod.price}]]</s></span
                  >
                  <span class="text-warning">[[${prod.discount}]]% Off</span>
                  <p class="card-text">[[${prod.description}]]</p>
                  <a
                    href="#!"
                    class="btn btn-outline-success"
                    data-mdb-ripple-init
                    >View <i class="fas fa-eye"></i
                  ></a>
                </div>
              </div>
            </div>
          
           
          </div>
        </div>
        <!-- ProductsList End -->
      </div>
    </div>
  </div>
  </body>
</html>
