<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:if="${session.successMsg}">
		<div
			class="alert alert-success alert-dismissible fade show z-3 position-absolute  "
			role="alert">
			<strong>✔️ [[${session.successMsg}]]</strong>
			<button type="button" class="btn btn-outline" data-bs-dismiss="alert"
				aria-label="Close">❌</button>
		</div>
		<th th:text="${@commonServiceImpl.removeSessionMessage()}"></th>
	</th:block>
	<th:block th:if="${session.errorMsg}">
		<div
			class="alert alert-warning alert-dismissible fade show z-3 position-absolute"
			role="alert">
			<strong>[[${session.errorMsg}]]</strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert"
				aria-label="Close"></button>
		</div>
		<th th:text="${@commonServiceImpl.removeSessionMessage()}"></th>
	</th:block>
	<div class="bg-warning bg-opacity-10 p-3 container-fluid">
		<div class="container col-4   mb-2 card  rounded-3 ">


			<form action="/saveuser" method="post" enctype="multipart/form-data"
				class="pb-4">

				<h2 class="text-center fs-2 p-2">Register here</h2>
				<!-- 2 column grid layout with text inputs for the first and last names -->
				<!-- Email input -->
				<div data-mdb-input-init class="form-outline mb-4">
					<input name="name" type="text" id="fullname" class="form-control" />
					<label class="form-label" for="fullname">Full Name</label>
				</div>
				<div class="row mb-4">
					<div class="col">
						<div data-mdb-input-init class="form-outline">
							<input name="address" type="text" id="address"
								class="form-control" /> <label class="form-label" for="address">Address</label>
						</div>
					</div>
					<div class="col">
						<div data-mdb-input-init class="form-outline">
							<input name="city" type="text" id="form3Example2"
								class="form-control" /> <label class="form-label"
								for="form3Example2">City</label>
						</div>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col">
						<div data-mdb-input-init class="form-outline">
							<input name="email" type="email" id="email" class="form-control" />
							<label class="form-label" for="email">Email</label>
						</div>
					</div>
					<div class="col">
						<div data-mdb-input-init class="form-outline">
							<input name="mobileNumber" type="number" id="phone"
								class="form-control" /> <label class="form-label" for="phone">Phone</label>
						</div>
					</div>
				</div>

				<div class="row mb-4">
					<div class="col">
						<div data-mdb-input-init class="form-outline">
							<input name="state" type="text" id="state" class="form-control" />
							<label class="form-label" for="state">State</label>
						</div>
					</div>
					<div class="col">
						<div data-mdb-input-init class="form-outline">
							<input name="pincode" type="number" id="pincode"
								class="form-control" /> <label class="form-label" for="pincode">Pincode</label>
						</div>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col">
						<div data-mdb-input-init class="form-outline">
							<input name="password" type="password" id="password"
								class="form-control" /> <label class="form-label"
								for="password">Password</label>
						</div>
					</div>

					<div class="col">
						<div data-mdb-input-init class="form-outline">
							<input type="password" id="confirm-password" class="form-control" />
							<label class="form-label" for="confirm-password">Confirm-Password</label>
						</div>
					</div>
				</div>
				<!-- fILE uPLOAD -->
				<div data-mdb-input-init class="mb-4 ">
					<label class="form-label " for="customFile">Upload Profile
						Picture </label> <input name="file" type="file"
						class="form-control bg-warning bg-opacity-50 " id="customFile" />
				</div>

				<div class="col-5">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" checked="checked"
							name="role" id="inlineRadio1" value="ROLE_USER" /> <label
							class="form-check-label" for="inlineRadio1">User</label>
					</div>

					<div class="form-check form-check-inline ">
						<input class="form-check-input" type="radio"
							name="role" id="inlineRadio2" value="ROLE_ADMIN" /> <label
							class="form-check-label" for="inlineRadio2">Seller</label>
					</div>

				</div>



				<!-- Submit button -->
				<button data-mdb-ripple-init type="submit"
					class="btn btn-success btn-block mb-4 mt-4">Sign up</button>
				<div class="text-center  ">
					<p>Already a member? <a href="signin" class="text-danger">Login</a></p>
					
				</div>

			</form>
		</div>
	</div>
</body>
</html>