<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container card-sh bg-success bg-opacity-10"
			style="margin-top: 70px; margin-bottom: 100px">

			<div class="col-md-12 p-5">
				<div class="row">
					<div class="col-md-6 text-end">
						<img alt=""
							src="https://thumbs.dreamstime.com/b/ripe-red-apple-fruit-apple-slice-seed-green-leaf-isolated-white-background-clipping-path-red-apple-fruit-117149257.jpg"
							width="330px" height="400px">
					</div>

					<div class="col-md-6">

						<p class="fs-3">Fresh Apple</p>
						<p>
							<span class="fw-bold">Description : </span><br>Red Fresh Apple,
							&#8377 160 /KG
						</p>
						<p>
							<span class="fw-bold"> Product Details: </span> <br>Status :
							<span class="badge bg-success">Available</span> <span
								class="badge  badge-warning">out of stock</span> <br> Category
							: Fruit<br> Delivery time :Same day devlivery

						</p>
						<p class="fs-5 fw-bold">
							Price :&nbsp; &nbsp; &nbsp; &nbsp;<i class="fas fa-rupee-sign"></i>
							170<span
								class="fs-6 text-decoration-line-through text-secondary">210</span>
							<span class="fs-6  text-success">40% off</span>
						</p>

						<div class="row">
							<div class="col-md-4 text-success text-center p-2">
								<i class="fas fa-phone fa-2x"></i>
								<p>Call now</p>
							</div>
							<div class="col-md-4 text-danger text-center p-2">
								<i class="fas fa-comment-sms fa-2x"></i>
								<p>Message me</p>
							</div>
							<div class="col-md-4 text-primary text-center p-2">
								<i class="fas fa-person-walking fa-2x"></i>
								<p>Pick Up</p>
							</div>
						</div>

						<div class="vstack gap-2 ">
							<button type="button" class="btn btn-block bg-success text-white"
								data-mdb-ripple-init> <h5>Add To Cart</h5></button>
							<button type="button" class="btn btn-outline-secondary"
								data-mdb-ripple-init> <a href="products">Back To Products</a> </button>
						</div>
					</div>
				</div>
			</div>
		</div>


	</section>
</body>
</html>